<!DOCTYPE html>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel= "stylesheet" type="text/css" href="{{url_for('static', filename='css/create.css')}}"/>
<script type="text/javascript" src="{{url_for('static', filename='js/create.js')}}"></script>
<html>
<header>

</header>
<body>
  <form method='post' style='padding-top: 15%;'>
    <center>
      <h3>
        First Name
      </h3>
      <input type="text" name="fname"><br>
      <h3>
        Last Name
      </h3>
      <input type="text" name="lname"><br>
      <h3>
        Email
      </h3>
      <input type="text" name="ename"><br>
      <h3>
        Phone Number (Do not add - )
      </h3>
      <input type="text" name="phnum"><br>
      <h3>
        Password
      </h3>
      <input type="submit" name="pname" ><br>
      <h3>
        Confirm Password
      </h3>
      <input type="text" name="cpname"><br>
      <input class="btn btn-warning" type="submit" value="Confirm" style="margin-top: 30px;" name='reg'>
    </center>
 </form>
</body>

</html>

<!-- Hello! -->
