<!DOCTYPE html>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
<html>
<header>

</header>
<body>
  <form action="./create.html">
      <h3>
        First Name
      </h3>
      <input type="text" name="fname"><br>
      <h3>
        Last Name
      </h3>
      <input type="text" name="lname"><br>
      <h3>
        Email
      </h3>
      <input type="text" name="ename"><br>
      <h3>
        Phone Number (Do not add - )
      </h3>
      <input type="text" name="phnum"><br>
      <h3>
        Password
      </h3>
      <input type="text" name="pname"><br>
      <h3>
        Confirm Password
      </h3>
      <input type="text" name="cpname"><br>
      <input type="submit" value="Confirm">
 </form>
</body>

</html>
