<!doctype html>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel= "stylesheet" type="text/css" href="{{url_for('static', filename='css/home.css')}}"/>
<script type="text/javascript" src="{{url_for('static', filename='js/home.js')}}"></script>
<html>
  <header>

</header>
  <body>
    <form action='/' method='post' class='home_buttons'>
      <input type='submit' class="button_menu btn btn-warning" name='LoginType' value='Sponsor Registration'>
      <input type='submit' class="button_menu btn btn-warning" name='LoginType' value='Entrepreneur Registration'>
      <input type='submit' class="button_menu btn btn-warning" name='LoginType' value='login'>
    </form>
  </body>
</html>
