<!DOCTYPE html>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">
<html>
<header>
  <center>

  </center>
</header>
<body background="ok.png">
  <form action="./sponi.html">
    <center>
      <h3>
        Account (email or phone #)
      </h3>
      <input type="text" name="fname"><br><br>
      <h3>
        Password
      </h3>
      <input type="text" name="lname"><br><br>
      <input type="submit" value="Log in">
   </center>
 </form>

   <center>
     <br>
     <a href="http://google.com">Forgot your password?</a>
   </center>

   <footer>
     <center><br>
       <a href="./create.html">New? Create new Account here</a>
     </center>
   </footer>
</body>

</html>
